html {
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

.navbar {
    margin-bottom: 20px;
}

/* All Sections */

.section {
   /* background: cornflowerblue;
    background: #2b3142;
    background: -webkit-linear-gradient(-45deg, #b4121d, #1d253a);
    background: linear-gradient(135deg, #ffffff -10%, #b4121d 10%, #1d253a 50%, #ffffff 300%); */
    background: linear-gradient(45deg, #013860, #abdbfe);
    min-height: 600px;
    margin: 20px auto;
    border-radius: 10px;
    width: 95%;
}

/* About AFSA Section */

#about h1 {
    text-align: center;
    color: #636363;
    padding-top: 20px;
    text-shadow: black;
}

#about p {
    color: black;
    text-align: justify;
    font-size: 20px;
    padding: 50px 20px;
}

/* Members Section */

#members h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
}

.carousel-item img {
    border-radius: 10px;
    height: 500px;
    width: 100%;
    margin: auto;
}

/* Events Section */ 

#events h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
}

/* Footer */

footer {
    background-color: #014e86;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

#footer li {
    list-style-type: none;
    padding: auto;
    margin: auto;
    color: whitesmoke;
    font-size: 15px;
    display: inline-block;
    width: auto;
    text-align: center;
    font-weight: bold;
}
